body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  padding: 20px;
  border: 5px black solid;
  margin: 20px;
}

.section-title {
  color: #2ddf5c;
  /* font-family: inherit; */
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

/* h1 {
  font-family: sans-serif;
} */
