main {
  padding-top: 32px;
}

.package {
  width: 80%;
  margin: 16px 0;
  border: 4px solid #0e4f1f;
  border-left: none;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  padding: 16px;
  border: 1px solid #0e4f1f;
  font-size: 20px;
  color: #0e4f1f;
}
